.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1000;
}
.loading .loading-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 3rem;
  height: 2rem;
  text-align: center;
}
.loading .loading-box span {
  display: inline-block;
  width: .2rem;
  margin: 0 .05rem;
  height: 2rem;
  border-radius: .15rem;
  background-color: lightgreen;
  animation: load 1s ease infinite;
}
.loading .loading-box span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
}
.loading .loading-box span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
}
.loading .loading-box span:nth-child(4) {
  -webkit-animation-delay: 0.6s;
}
.loading .loading-box span:nth-child(5) {
  -webkit-animation-delay: 0.8s;
}
@-webkit-keyframes load {
  0%,
  100% {
    height: 1rem;
    background: lightgreen;
  }
  50% {
    height: 2rem;
    margin: -0.5rem 0.05rem;
    background: lightblue;
  }
}
