.swiper-container {
  width: 100%;
  height: 4rem;
  margin-bottom: .4rem;
  box-sizing: border-box;
  border: 1px solid #FF4081;
}
.swiper-container .swiper-slide {
  height: 4rem;
  width: 100%;
}
.swiper-container .swiper-pagination span {
  background: #FF4081;
  width: .15rem;
  height: .15rem;
}
