.content-box {
  width: 9.5rem!important;
  margin: .3rem auto 0 auto;
  overflow: hidden;
  height: 15rem!important;
  position: relative;
  touch-action: none;
}
.content-box .content-wrap .refresh-bar {
  width: 100%;
  height: 1rem;
  position: absolute;
  top: -1.5rem;
  color: #ccc;
  font-size: .3rem;
  line-height: 1rem;
  text-align: center;
}
.content-box .content-wrap .load-bar {
  width: 100%;
  height: 1rem;
  position: absolute;
  bottom: -1.5rem;
  color: #ccc;
  font-size: .3rem;
  line-height: 1rem;
  text-align: center;
}
