.themeDetail {
  width: 100%;
  overflow-y: auto;
  position: relative;
}
.themeDetail .banner {
  width: 100%;
  height: 5.5rem;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.themeDetail .banner h3 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 95%;
  height: 90%;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: normal;
}
.themeDetail .banner h3 span {
  position: absolute;
  bottom: .6rem;
  width: 100%;
  text-align: center;
  font-size: .65rem;
}
.themeDetail .author-box {
  width: 100%;
  margin: .2rem 0;
  overflow: hidden;
}
.themeDetail .author-box span {
  float: left;
  font-size: .4rem;
  line-height: .8rem;
  height: .8rem;
  box-sizing: border-box;
  padding: .1rem;
  margin: 0 .15rem;
}
.themeDetail .author-box .author-info {
  width: .8rem;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding: .1rem;
}
.themeDetail .author-box .author-info img {
  float: left;
  margin-top: .15rem;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  margin-right: .2rem;
}
