.theme-box {
  width: 9.5rem;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: auto;
}
.theme-box .inner-con {
  width: 100%;
  overflow: hidden;
}
.theme-box .inner-con .theme-card {
  float: left;
  margin: .375rem;
  width: 4rem;
  height: 4rem;
  position: relative;
  overflow: hidden;
  background-color: #ccc;
}
.theme-box .inner-con .theme-card img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.theme-box .inner-con .theme-card .mask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 95%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border: 1px solid #fff;
}
.theme-box .inner-con .theme-card .mask span {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: .4rem;
  text-align: center;
  line-height: 1.2rem;
  color: #fff;
  letter-spacing: .15rem;
}
.theme-box .inner-con::-webkit-scrollbar {
  width: 0;
  height: 0;
}
